.clear-button {
  position: relative;
  cursor: pointer;
}

.clear-button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 5px;
  left: 50%;
  background-color: hsl(180, 29%, 50%);
  transition:
    width 0.3s ease,
    left 0.3s ease;
}

.clear-button:hover::after {
  width: 100%;
  left: 0;
}
